<h1>Listing inventories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Cost price</th>
    <th>Supplier</th>
    <th>Purchased at</th>
    <th>Received at</th>
    <th>Exchange rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= inventory.name %></td>
    <td><%= inventory.quantity %></td>
    <td><%= inventory.cost_price %></td>
    <td><%= inventory.supplier %></td>
    <td><%= inventory.purchased_at %></td>
    <td><%= inventory.received_at %></td>
    <td><%= inventory.exchange_rate %></td>
    <td><%= link_to 'Show', inventory %></td>
    <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy', inventory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory', new_inventory_path %>
