<h1>Listing orders</h1>

<table>
  <tr>
    <th>Cust name</th>
    <th>Cust contact no</th>
    <th>Cust address</th>
    <th>Post paid</th>
    <th>Post cost</th>
    <th>Post diff</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.cust_name %></td>
    <td><%= order.cust_contact_no %></td>
    <td><%= order.cust_address %></td>
    <td><%= order.post_paid %></td>
    <td><%= order.post_cost %></td>
    <td><%= order.post_diff %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
