<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @line_item.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @line_item.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @line_item.price %>
</p>

<p>
  <b>Custom price:</b>
  <%= @line_item.custom_price %>
</p>


<%= link_to 'Edit', edit_line_item_path %> |
<%= link_to 'Back', @line_item %>
